#{extends 'main.html' /}
#{set title:'Project VDO - Edit User' /}

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Project<mark>VDO</mark></a>
                    <div class="nav-collapse collapse">
					<script type="text/x-handlebars">
                        <ul class="nav">
                            <li><a href="/application/myvideos">Videos</a></li>
                            <li class="active"><a href="/application/users">User List</a></li>
                            <li><a href="/application/edituser/vdo575">Profile</a></li>
                            <li><a href="#logout">Logout</a></li>
                        </ul>
					</script>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div class="container">
        	 
        	   <script type="text/x-handlebars">
        	  {{#view App.EditUserView tagName="form"
        	  		usernameBinding="App.editUserController.user.username"
        	  		emailBinding="App.editUserController.user.email"
        	  		roleBinding="App.editUserController.user.role"
        	  }}
        	  
        	  <h1>Edit User: {{view.username}}</h1>
	        	<div class="span6">
	        	  <form>
					  <!-- <div class="control-group">
					    <label class="control-label" for="inputTitle">First Name</label>
					    <div class="controls">
					     <!--  <input type="text" id="inputFirstName" {{bindAttr value="view.firstName"}}> 
						 {{view Ember.TextField id = "inputTitle" valueBinding="view.firstName"}}>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputLastName">Last Name</label>
					    <div class="controls">
					    	<!-- <input type="text" id="inputLastName" {{bindAttr value="view.lastName"}}> 
							{{view Ember.TextField id = "inputLastName" valueBinding="view.lastName"}}>
					    </div> 
					  </div>-->
					  <div class="control-group">
					    <label class="control-label" for="inputEmail">Email</label>
					    <div class="controls">
					    	<!-- <input type="text" id="inputEmail" {{bindAttr value="view.email"}}> -->
							{{view Ember.TextField id="inputEmail" valueBinding="view.email"}}>
					    </div>
					  </div>
					  <div class="control-group">
					  	<label class="control-label" for="inputRole">Role</label>
					  	<div class="controls">
					  		{{view Ember.Select id="inputRole"
					       contentBinding="App.roleController.content"
					       optionValuePath="content.term"
					       optionLabelPath="content.label"
					       valueBinding="App.roleController.selected"
					      }}
					  	</div>
					  </div>
					  <div class="control-group">
					  		<button type="submit" class="btn btn-info btn-large" {{action "editUser" target = "parentView"}}>Save Changes</button>
					  		<button type="button" class="btn btn-danger btn-large" {{action "deleteUser" target = "parentView"}}>Delete User</button>
					  </div>
				</form>
			</div>
		{{/view}}
   </script>
</div>
