#{extends 'main.html' /}
#{set title:'Project VDO-Edit Video' /}

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Project<mark>VDO</mark></a>
                    <div class="nav-collapse collapse">
                    <script type="text/x-handlebars">
                        <ul class="nav">
                            <li class="active"><a href="/application/videos">Videos</a></li>
                            <li><a href="/application/users">User List</a></li>
                            <li><a href="/application/edituser/vdo575">Profile</a></li>
                            <li><a href="#" {{action "handleLogout" target="App.authenticationController"}}>Logout</a></li>
                        </ul>
                    </script>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div class="container">
        	 <h1>Edit Video</h1>
        	 
        	   <script type="text/x-handlebars">
        	  {{#view App.EditVideoView tagName="form"
        	  		titleBinding="App.editVideoController.video.title"
        	  		descriptionBinding="App.editVideoController.video.description"
        	  		categoryBinding="App.editVideoController.video.category"
        	  		keywordsBinding="App.editVideoController.video.keywords"
        	  		idBinding="App.editVideoController.video.id"
        	  }}
        	  <div class="span6">
	        	  <div class="videoWrapper">
	        	  <iframe id="ytplayer" type="text/html" width="320" height="180" {{bindAttr src="view.url"}} frameborder="0"/>
	        	  </div>
	        	</div>
	        	<div class="span6">
	        	  <form>
					  <div class="control-group">
					    <label class="control-label" for="inputTitle">Title</label>
					    <div class="controls">
					      {{view Ember.TextField id="inputTitle" valueBinding="view.title"}}
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputDescription">Description</label>
					    <div class="controls">
					    	{{view Ember.TextArea rows="3" id="inputDescription" valueBinding="view.description"}}
					    </div>
					  </div>
					  
					   <div class="control-group">
					    <label class="control-label" for="inputKeywords">Keywords</label>
					    <div class="controls">
					    	{{view Ember.TextField id="inputKeywords" valueBinding="view.keywords"}}
					    </div>
					  </div>
					  
					  <div class="control-group">
					  	<label class="control-label" for="inputCategory">Category</label>
					  	<div class="controls">
					  		{{view Ember.Select id="inputCategory"
					       contentBinding="App.categoryController.content"
					       optionValuePath="content.term"
					       optionLabelPath="content.label"
					       valueBinding="App.categoryController.selected"
					      }}

					  	</div>
					  </div>
					  <div class="control-group">
					  		<button type="submit" class="btn btn-info btn-large" {{action "updateVideo" target="parentView"}}>Save Changes</button>
					  		<button type="button" class="btn btn-danger btn-large" {{action "deleteVideo" target="parentView"}}>Delete Video</button>
					  </div>
				</form>
			</div>

{{/view}}
        	   </script>
        </div>
        