#{extends 'main.html' /}
#{set title:'Project VDO' /}

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Project<mark>VDO</mark></a>
                    <div class="nav-collapse collapse">
                    		<script type="text/x-handlebars">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            
                            {{#if App.currentUserController.user.content}}
										 <li><a href="/application/videos"> Logged in as {{App.currentUserController.user.username}}</a></li>
								    {{else}}
								    		<li><a href="#myModal" data-toggle="modal">Login/Signup</a></li>
									{{/if}}
                        </ul>
                         </script>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


        <div class="container">
            <div class="hero-unit">
            	<div class="videoWrapper">
            		
            		<div id="player"></div>
            		<div id="video-nav">
            			<script type="text/x-handlebars">
            			<a href="#" {{action "playPrevVideo" target="App.playlistController"}} id="video-nav-prev"><img src="@{'/public/images/video_next.png'}" alt="video_next" width="49" height="90" /></a>
            			<a href="#" {{action "playNextVideo" target="App.playlistController"}} id="video-nav-next"><img src="@{'/public/images/video_next.png'}" alt="video_next" width="49" height="90" /></a>
            			</script>
            		</div>
            		<div id="video-info">
            			<script type="text/x-handlebars">
            			{{#if App.currentVideoController.video}}
            			<h2>{{App.currentVideoController.video.title}}</h2>
            			{{/if}}
            			</script>
            		</div>
            	</div>
            </div>
        </div>
        
        <script type="text/x-handlebars">
        <div class="container" id="video-list">
        		<ul class="thumbnails">	
        		{{#each App.playlistController}}
        			<li class="span4">
        				<a href="#" {{action "playVideoAt" target="App.playlistController"}} class="thumbnail" rel="popover" {{bindAttr title="title"}} {{bindAttr data-id="id"}} {{bindAttr data-content="authorDate"}}>
        					<img {{bindAttr src="thumbnail"}} {{bindAttr alt="title"}} width="300" height="200">
        				</a>
        			</li>
        		{{/each}}
        		</ul>
        </div>
        </script>
        
         <!-- Login Modal -->
         <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         	<div class="modal-header">
         		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
         		<h5 id="myModalLabel">Login or Signup</h5>
         	</div>
         	<div class="modal-body">
         		<div class="login-form">
         			<script type="text/x-handlebars">
         			{{#view App.LoginFormView tagName="form"}}
	         			{{view Ember.TextField id="loginEmail" valueBinding="view.email" placeholder="Email"}}
	         			{{view Ember.TextField type="password" id="loginPassword" valueBinding="view.password" placeholder="Password"}}
	         			<button type="submit" class="btn btn-info" {{action "handleLogin" target="parentView"}}>Login</button>
						{{/view}}
						</script>
         		</div>
         		<div class="login-form">
         			<script type="text/x-handlebars">
         			{{#view App.SignupFormView tagName="form"}}
         				{{view Ember.TextField id="signupUserName" valueBinding="view.username" placeholder="Username"}}
	         			{{view Ember.TextField id="signupEmail" valueBinding="view.email" placeholder="Email"}}
	         			{{view Ember.TextField type="password" id="signupPassword" valueBinding="view.password" placeholder="Password"}}
	         			
	         			{{view Ember.TextField type="password" id="signupConfirmPassword" valueBinding="view.confirmPassword" placeholder="Confirm Password"}}
	         			
	         			<button type="submit" class="btn btn-info" {{action "handleSignup" target="parentView"}}>Sign up</button>
						{{/view}}
         			</script>
         		</div>
         	</div>
         	<div class="modal-footer">
         	</div>
         </div>
        
        